@use './variables'

*
  box-sizing: border-box
  font-family: 'Montserrat', sans-serif

.container 
  min-height: 60vh
  margin-bottom: 5em

  .error
    color: variables.$font-color-error
    background-color: variables.$bg-color-error
    border: 1px solid variables.$border-color-error
    padding: 5px
    border-radius: 5px

body
  background-color: variables.$bg-color-secondary
  padding: 0
  margin: 0
  font-family: 'Montserrat', sans-serif

input:focus,
textarea:focus
  outline: none

input::placeholder, 
textarea::placeholder
  color: variables.$font-color-form

a, nav button
  text-decoration: none
  font-size: 1.2rem
  color: variables.$font-color-secondary
  background-color: transparent
  border: none
  cursor: pointer
  transition: .4s

  &:hover
    color: variables.$font-color-hover-primary


// Forms Styles
form
  max-width: 40%
  margin: 0 auto

  label
    display: flex
    flex-direction: column
    margin-bottom: 1rem

    span
      margin-bottom: .5rem
      font-weight: bold
      text-align: left

  input, 
  textarea
    border: none  
    border-bottom: 1px solid #ccc
    padding: .8rem 0
    background-color: transparent

.btn
  background-color: variables.$bg-color-btn
  color: variables.$font-color-primary
  text-align: center
  cursor: pointer
  border-radius: .7rem
  width: 7.5rem
  font-weight: bold
  border: none
  padding: .7rem 1rem
  font-size: 1rem

  &:hover
    background-color: variables.$bg-color-btn-hover
    color: variables.$font-color-primary

  .btn-dark
    background-color: variables.$bg-color-primary
    border-radius: 0
  
  .btn-outline
    background-color: transparent
    border-radius: 0
    color: variables.$bg-color-secondary
    border: 1px solid variables.$font-color-secondary
    padding: .5rem 1.8rem

    &:hover
      background-color: variables.$bg-color-primary

  .btn-danger:hover
    background-color: variables.$bg-color-btn-danger
  
button[disable]
  background-color: variables.$font-color-form
