$font-color-primary: #FFF
$font-color-secondary: #000
$font-color-error: #721C24
$font-color-form: #AAA
$font-color-hover-primary: #918e8e
$font-color-created: #444
$bg-color-primary: #000
$bg-color-secondary: #F6FCFF
$bg-color-error: #F8D7DA
$bg-color-footer: #EDF3F6
$bg-color-btn: #1A8918
$bg-color-btn-hover: #0F730C
$bg-color-btn-danger: #DC3545
$box-shadow-primary: rgba(0, 0, 0, .15) 0px -2px 10px 0px
$border-color-error: #F5C6CB
